.content {
  width: 100%;
  padding: $m-size $xl-size;
  position: relative;
  background: transparentize($purple-1, 0.98);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $purple-0;
    outline: 1px solid lighten($purple-0, 10%);
  }

  @media (min-width: $desktop) {
    width: 1360px;
  }

  @media (max-width: $tablet) {
    width: 100%;
    padding: $m-size;
    padding-top: $m-size;
  }
}
