.navigation {
  height: 100vh;
  padding: 0 $xl-size;
  position: relative;
  top: 0;
  z-index: 10;
  transition: all 0.3s ease;
  border-right: 5px solid $purple-1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet) {
    width: 100%;
    height: 60px;
    border-right: none;
    padding: 0 $m-size;
    background: white;
    box-shadow: none;
  }
}

.navigation-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: "center";
  justify-content: "center";

  @media (min-width: $desktop) {
    width: 1360px;
    margin: auto;
  }
}

.navigation-logo {
  margin: $m-size 0;
  margin-bottom: $xl-size;

  a,
  h1 {
    color: $fatigue;

    @media (max-width: $tablet) {
      color: $fatigue;
      margin: 0;
    }
  }
}

.navigation-toggle {
  display: none;

  @media (max-width: $tablet) {
    display: block;
  }
}

.navigation-controls {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;

  @media (max-width: $tablet) {
    width: 100%;
    height: 0;
    padding: 0 $m-size;
    background: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    overflow: hidden;
    flex-direction: column;
    transition: all 0.5s ease;

    button,
    a {
      width: 100%;
      margin: 0;
      transform: translateY(100px);
      transition: all 0.4s ease;
    }

    a:first-child {
      margin-top: $m-size;
    }
  }
}

.navigation.open .navigation-controls {
  @media (max-width: $tablet) {
    height: 190px;

    button,
    a {
      transform: translateY(0);
    }
  }
}
